extends ../layouts/basic

block content
	#content: .ui.container
		h1.ui.header= scoresheetEntry.event.name
			.sub.header= scoresheetEntry.tournament.name
		form#scores.ui.form(action='/scoresheets/' + scoresheetEntry._id + '/updateEvent/' + scoresheetEntry.event.name method='post'): table.ui.celled.padded.table
			thead
				tr
					th Team Number
					th School
					th Raw Score
					th Tier 
						.right.floated.ui.mini.circular.icon.button(data-html='Competitors may be tiered according to event-specific rules. Please make sure these are accurate as all tier 2 teams will be ranked below tier 1 teams regardless of raw score, all tier 3 below tier 2, and so on.')
							i.ui.icon.help
					th No Show
						.right.floated.ui.mini.circular.icon.button(data-html='<div><strong>No shows are ranked last place + 1</strong>, so if there are 30 teams this team will be ranked 31st. This greatly affects a school\'s overall placement, so please be <strong>certain</strong> that this team did not show up before checking the box.</div>')
							i.ui.icon.help
					th Participation Points Only
						.right.floated.ui.mini.circular.icon.button(data-html='<div>Teams may be awarded participation points if an honest attempt was made but a <strong>raw score was unable to be assigned</strong>. <strong>They will be ranked last place</strong>.</div>')
							i.ui.icon.help
			tbody
				each score in scoresheetEntry.scores
					tr
						td= score.team.teamNumber
						td= score.team.school
						td
							.six.wide.field
								input(type='number' name=score._id + '[rawScore]' value=score.rawScore || 0)
						td
							.four.wide.field
								select.ui.compact.dropdown(name=score._id + '[tier]')
									option(value=1) 1
									option(value=2) 2
									option(value=3) 3
									option(value=4) 4
						td
							.inline.fields
								.ui.checkbox
									input(type='checkbox' name=score._id + '[noShow]' checked=score.noShow)
									label Did not show
						td
							.inline.fields
								.ui.checkbox
									input(type='checkbox' name=score._id + '[participationOnly]' checked=score.participationOnly)
									label Participation only
		.spacer
		button.ui.primary.button(type='submit' form='scores') Submit

block scripts
	script.
		const scoresheetEntry = !{JSON.stringify(scoresheetEntry)}

		$('.ui.dropdown').dropdown()
		$('.ui.mini.circular.icon.button').popup()
