extends ../layouts/basic

block content
    #content: .ui.container
        h1.ui.header= tournament.name
            .sub.header= tournament.date.toLocaleDateString('en-US')
            .sub.header= tournament.city + ', ' + tournament.state
            .sub.header= tournament.scoresheet
        //- p Proctor registration code:
        //- pre: code.code= tournament.joinCode
        button.ui.button.primary.opens-modal(data-target='#tournament-modal')
            i.icon.edit
            | Edit Details
        a.ui.button.primary(href='/tournaments/' + tournament._id + '/B/results')
            i.icon.trophy
            | B Results
        a.ui.button.primary(href='/tournaments/' + tournament._id + '/C/results')
            i.icon.trophy
            | C Results
        .ui.divider
        .ui.accordion
            h3.ui.title.active
                .dropdown.icon
                | Teams
            .content.active
                button#new-team.ui.button.primary.opens-modal(data-target='#team-modal')
                    i.plus.icon
                    | New Team
                .spacer
                if (teams)
                    .ui.grid
                        each team in teams
                            .four.wide.column: .ui.card
                                .content
                                    .header= team.division + team.teamNumber
                                    .meta
                                        span= team.school
                                .extra.content
                                    .ui.three.icon.buttons
                                        a.ui.compact.button(href='#') 
                                            i.icon.trophy
                                            | Scores
                                        button.ui.compact.button.opens-modal.edit-team(data-target='#team-modal' data-teamid=team._id)
                                            i.icon.edit
                                            | Edit
                                        a.ui.compact.red.button(href='/tournaments/' + tournament._id + '/edit/' + team.division + '/deleteTeam/' + team.teamNumber)
                                            i.icon.remove
                                            | Delete


            .spacer
        .ui.divider
        .ui.accordion
            h3.ui.title.active
                .dropdown.icon
                | Events
            .content.active
                p Add or remove events from the 'Edit Details' button.
                if (tournament.events)
                    .ui.grid
                        each event in tournament.events
                            .four.wide.column: .ui.card
                                .content
                                    .header= event.name
                                    .description
                                        if (event.category === 'bio')
                                            .ui.tiny.green.label Biology
                                        if (event.category === 'earth')
                                            .ui.tiny.brown.label Earth/Space
                                        if (event.category === 'phys/chem')
                                            .ui.tiny.orange.label Physics/Chemistry
                                        if (event.category === 'building')
                                            .ui.tiny.violet.label Building
                                        if (event.category === 'inquiry')
                                            .ui.tiny.pink.label Inquiry
                                        if (event.stateEvent)
                                            .ui.tiny.teal.label State/Trial
                                        if (event.impound)
                                            .ui.tiny.grey.label Impound
                                        if (!event.done)
                                            .ui.tiny.grey.label Scoring in progress
                                .extra.content
                                    if (event.division === 'BC')
                                        .ui.dropdown.labeled.icon.button.fluid
                                            i.filter.icon
                                            span.text Select Division
                                            .menu
                                                a.item(href='/scoresheets/' + tournament._id + '/scores/B/' + event._id)
                                                    i.icon.trophy
                                                    | Manage B Scores
                                                a.item(href='/scoresheets/' + tournament._id + '/scores/C/' + event._id)
                                                    i.icon.trophy
                                                    | Manage C Scores
                                    else
                                        a.fluid.ui.button(href='/scoresheets/' + tournament._id + '/scores/' + event.division + '/' + event._id)
                                            i.icon.trophy
                                            | Manage Scores
        .ui.divider
        a.ui.button.red(href='/tournaments/' + tournament._id + '/delete') Delete Tournament
    br
    include partials/_tournament-modal
    include partials/_team-modal

block scripts
    script.
        // Expose tournament and team data from back-end
        const tournament = !{JSON.stringify(tournament)}
        const teams = !{JSON.stringify(teams)}

        // Initialize dropdowns and accordions
        $('.ui.dropdown').dropdown()
        $('.ui.accordion').accordion()

        // Pre-fill events field in tournament form
        tournament.events.forEach((event) => {
            $('#events').dropdown('set selected', event.name)
        })
        let date = new Date(tournament.date)
        $('#date').val(date.toISOString().substr(0, 10))
        $('#states').dropdown('set selected', tournament.state)

        // Bind button to show modal action
        $('.opens-modal').click( function() {
            $($(this).data('target')).modal('show')
        })

        // Bind add all event button
        $('#add-all-events').click(() => {
            $('#events option').each( function() {
                $('#events').dropdown('set selected', $(this).prop('value'))
            })
        })

        // Bind clear all events button
        $('#clear-events').click(() => {
            $('#events option').each( function() {
                $('#events').dropdown('clear')
            })
        })

        // Add custom options to schools dropdown
        const $schoolDropdown = $('#school')
        $('#add-school-button').click(() => {
            const newSchool = $('#add-school-input').val()
            $schoolDropdown.append('<option value="' + newSchool + '" selected>' + newSchool + '</option>')
            $('#school ~ .menu').append('<div class="item" data-value="' + newSchool + '">' + newSchool + '</div>')
        })

        // Populate team modal with team data on click
        $('.edit-team').click( function() {
            let $this = $(this)
            let teamData = teams.find(team => team._id === $this.data('teamid'))

            // Populate data
            $('#team-modal .header').text('Edit team ' + teamData.teamNumber)
            $schoolDropdown.dropdown('set selected', teamData.school)
            $('#add-school-input').val('')
            $('#team-number-input').val(teamData.teamNumber)

            // Change form action
            $('#team-modal form').attr('action', '/tournaments/' + tournament._id + '/edit/' + teamData.division + '/editTeam/' + teamData.teamNumber)
        })

        // Change form action and clear fields when opening new team modal
        $('#new-team').click(() => {
            $('#team-modal .header').text('Create New Team')
            $('#add-school-input').val('')
            $('#team-number-input').val('')

            $('#team-modal form').attr('action', '/tournaments/' + tournament._id + '/edit/addTeam')
        })