extends ../layouts/basic

block content
	#content: .ui.container
		h1.ui.header= tournament.name
			.sub.header= tournament.date.toLocaleDateString('en-US')
			.sub.header= tournament.city + ', ' + tournament.state
		p Proctor registration code:
		pre: code.code= tournament.joinCode
		button#edit-details.ui.button.primary
			i.icon.edit
			| Edit Details
		.ui.divider
		.ui.accordion
			h3.ui.title
				.dropdown.icon
				| Teams
			.content
				h1 hello
		.ui.divider
		.ui.accordion
			h3.ui.title
				.dropdown.icon
				| Events
			if (tournament.events)
				.content: .ui.grid
					each tournamentEvent in tournament.events
						.four.wide.column: .ui.card
							.content
								.header= tournamentEvent.event.name
								.meta
									if (tournamentEvent.event.building)
										.ui.tiny.brown.label Building
									if (tournamentEvent.event.impound)
										.ui.tiny.orange.label Impound
									if (!tournamentEvent.event.done)
										.ui.tiny.grey.label Scoring in progress
							.extra.content: .ui.two.buttons
								a.ui.button(href='/tournaments/manage/' + tournament._id) 
									i.icon.plus
									| Proctors
								a.ui.button(href='#') 
									i.icon.trophy
									| Scores
		.ui.divider
		a.ui.button.red(href='/tournaments/delete/' + tournament._id) Delete Tournament
	include partials/_tournament-modal

block scripts
	script.
		const tournament = !{JSON.stringify(tournament)}

		$('.ui.dropdown').dropdown()
		$('.ui.accordion').accordion()

		tournament.events.forEach((tournamentEvent) => {
			$('#events').dropdown('set selected', tournamentEvent.event.name)
		})
		let date = new Date(tournament.date)
		$('#date').val(date.toISOString().substr(0, 10))

		$('#states').dropdown('set selected', tournament.state)

		$('#edit-details').click(() => {
			$('.ui.modal').modal('show')
		})

		$('#add-all-events').click(() => {
			$('#events option').each( function() {
				$('#events').dropdown('set selected', $(this).prop('value'))
			})
		})

		$('#clear-events').click(() => {
			$('#events option').each( function() {
				$('#events').dropdown('remove selected', $(this).prop('value'))
			})
		})