extends ../layouts/basic

block content
    #content(style='overflow-x: auto;'): .ui.container
        //- a.ui.primary.button(href='/tournaments/manage/' + scoresheetEntry.tournament._id)
        //-     i.angle.left.icon
        //-     | Back to Tournament
        //- h1.ui.header= scoresheetEntry.event.name
        //-     .sub.header= scoresheetEntry.tournament.name
        //- .spacer
        h1.ui.header #{entries[0].tournament.name} Results
        a.ui.button.primary(href='/tournaments/manage/' + entries[0].tournament._id)
            i.icon.angle.left
            | Back to Tournament
        a.ui.button.primary(href='/tournaments/' + entries[0].tournament._id + '/slideshow')
            i.icon.trophy
            | Awards Slideshow
        table.ui.celled.collapsing.small.compact.table
            thead
                th.bottom.aligned.sixteen.wide Team (School)
                each entry in entries
                    th.one.wide
                        div(style='transform: rotate(-90deg) translateY(45%) translateX(-500%); white-space: nowrap; width: 15px; height: 150px;')= entry.event.name
                th.bottom.aligned Total
                th.bottom.aligned Rank
            tbody
                each team in teams
                    tr
                        td= team.division + team.teamNumber + ' (' + team.school + ')'
                        each score in team.scores
                            td.center.aligned= score
                        td.center.aligned= team.totalScore
                        td.center.aligned= team.rank


        .spacer




